header{
    background-color: #533E85;
    padding: 20px;
    color: white;
    font-size: 40px;
    text-align: center;
}
nav{
    background-color: #488FB1;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

article{
    background-color: #4FD3C4;
    grid-column:1/4;
    font-size: 20px;
    text-align:left;
    padding: 40px;
}

aside{
    background-color:#C1F8CF;
    padding: 20px;
    grid-column:4/5;
}

footer{
    background-color: #488FB1;
    padding: 20px;
}

p h1{

    font-size: 40px;
}



    
    

